:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --ff-red-hat: "Red Hat Display";
    --fw-medium: 500;
    --fw--bold: 700;
    --fw--bolder: 900;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}
/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
body {
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
}
.order-summary {
    display: grid;
    justify-items: center;
    width: 450px;
    --content-spaceing: 1rem;
    --content-padding: 1.5rem;
}
.order-summary__content {
    display: grid;
    font-family: var(--ff-red-hat);
    padding: var(--content-padding);
    gap: var(--content-spaceing);
}
.order-summary__title {
    font-weight: var(--fw--bolder);
}
.order-summary__details {
    font-weight: var(--fw-medium);
}
:is(.order-summary__title, .order-summary__details) {
    text-align: center;
}
.order-summary__price-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
    padding: var(--content-padding);
    border-radius: 1rem;
}
.order-summary__icon-plan {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.order-summary__change {
    display: flex;
    align-items: center;
}
